<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="client-auth-front">ClientAuthFront</a></li>
  <li><a routerLink="client-dashboard">ClientDashboard</a></li>
</ul>
<router-outlet></router-outlet>
